body {
  text-align: center;
}
p.loading {
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
    background: transparent url('tool-loader.gif') center top no-repeat;
    color: #666;
    font-size: 20px;
}

form#up {
  padding: 40px 0;
  margin: 0;
}

div.error {
  display: none;
  width: 50%;
  margin: 40px auto;
  padding: 20px 20px 10px 20px;
  border: 2px solid #fa9;
  background: #ffefea;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#tryAgain {
  display: none;
}

.error h1 {
  font-size: 32px;
  line-height: 36px;
}